@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* general css */
body {
  color: var(--black);
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif; 
} 

.email-content {
  background: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 65%;
  position: absolute;
  top: 140px;
  margin-left: 450px;
  border-top: 4px solid var(--blue);
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.email-content .email-text {
  padding: 20px 40px;
}

/* top section */
/* subject css */
.email-content .email-text h2 {
  color: #515151;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 8px;
}

.email-content .email-text .top-section {
  border-bottom: 1.5px solid #ebebeb;
  padding-bottom: 12px;
  position: relative;
}

.top {
	border-top: 1.5px solid #ebebeb;
}
/* icon css */
.email-content .email-text .top-section .attachment {
  position: absolute;
  background: #d9d9d9;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  top: 20px;
  right: 2px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.email-content .email-text .top-section .attachment:hover {
  background: var(--blue);
  color: #fff;
}

.email-content .email-text .top-section .attachment i {
  font-size: 25px;
  position: absolute;
  top: 7.5px;
  left: 7.1px;
}

/* sender css */
.email-content .email-text .top-section p {
  font-size: 18px;
  color : var(--black);
}

/* date css */
.email-content .email-text .top-section p .date {
  font-size: 13px;
  /* margin-left: 260px; */
  color: #6b6b6b;
}
/* top section end */

/* bottom section start */
.bottom-section p {
  margin-top: 13px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--black);
}

.bottom-section {
  min-height: 300px;
  position: relative;
}


/* attachemnt section */
.attachment-bottom {
  position: absolute;
  background: #d9d9d9;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-top: 6px;
  margin-left: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.attachment-bottom i {
  font-size: 25px;
  position: absolute;
  margin-top: 7.5px;
  margin-left: 8px;

}

.attachment-bottom:hover {
  background: var(--blue);
  color: #fff;
}



