<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Projet_S3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>connexion</display-name>
    <servlet-name>connexion</servlet-name>
    <servlet-class>com.JAVA.Servlets.connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionToDB</display-name>
    <servlet-name>ConnexionToDB</servlet-name>
    <servlet-class>com.JAVA.Servlets.ConnexionToDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionToDB</servlet-name>
    <url-pattern>/ConnexionToDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>com.JAVA.Servlets.signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>events</display-name>
    <servlet-name>events</servlet-name>
    <servlet-class>com.JAVA.Servlets.events</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>events</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>events_prof</display-name>
    <servlet-name>events_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.events_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>events_prof</servlet-name>
    <url-pattern>/events_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getBinomes</display-name>
    <servlet-name>getBinomes</servlet-name>
    <servlet-class>com.JAVA.Servlets.getBinomes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBinomes</servlet-name>
    <url-pattern>/getBinomes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.JAVA.Beans.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvent</display-name>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>com.JAVA.Servlets.AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/AddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mail</display-name>
    <servlet-name>mail</servlet-name>
    <servlet-class>com.JAVA.Servlets.mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>com.JAVA.Servlets.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation_signin</display-name>
    <servlet-name>Validation_signin</servlet-name>
    <servlet-class>com.JAVA.Servlets.Validation_signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation_signin</servlet-name>
    <url-pattern>/Validation_signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sent_mail</display-name>
    <servlet-name>sent_mail</servlet-name>
    <servlet-class>com.JAVA.Servlets.sent_mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sent_mail</servlet-name>
    <url-pattern>/sent_mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboard_student</display-name>
    <servlet-name>dashboard_student</servlet-name>
    <servlet-class>com.JAVA.Servlets.dashboard_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard_student</servlet-name>
    <url-pattern>/dashboard_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>message_details</display-name>
    <servlet-name>message_details</servlet-name>
    <servlet-class>com.JAVA.Servlets.message_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message_details</servlet-name>
    <url-pattern>/message_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>markRead</display-name>
    <servlet-name>markRead</servlet-name>
    <servlet-class>com.JAVA.Servlets.markRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>markRead</servlet-name>
    <url-pattern>/markRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sentMessage_details</display-name>
    <servlet-name>sentMessage_details</servlet-name>
    <servlet-class>com.JAVA.Servlets.sentMessage_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sentMessage_details</servlet-name>
    <url-pattern>/sentMessage_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_message</display-name>
    <servlet-name>delete_message</servlet-name>
    <servlet-class>com.JAVA.Servlets.delete_message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_message</servlet-name>
    <url-pattern>/delete_message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>compose</display-name>
    <servlet-name>compose</servlet-name>
    <servlet-class>com.JAVA.Servlets.compose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compose</servlet-name>
    <url-pattern>/compose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>send_message</display-name>
    <servlet-name>send_message</servlet-name>
    <servlet-class>com.JAVA.Servlets.send_message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send_message</servlet-name>
    <url-pattern>/send_message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>download</display-name>
    <servlet-name>download</servlet-name>
    <servlet-class>com.JAVA.Servlets.download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>compose_reply</display-name>
    <servlet-name>compose_reply</servlet-name>
    <servlet-class>com.JAVA.Servlets.compose_reply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compose_reply</servlet-name>
    <url-pattern>/compose_reply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profil</display-name>
    <servlet-name>profil</servlet-name>
    <servlet-class>com.JAVA.Servlets.profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_profil</display-name>
    <servlet-name>update_profil</servlet-name>
    <servlet-class>com.JAVA.Servlets.update_profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_profil</servlet-name>
    <url-pattern>/update_profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>change_password</display-name>
    <servlet-name>change_password</servlet-name>
    <servlet-class>com.JAVA.Servlets.change_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_password</servlet-name>
    <url-pattern>/change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projet_etudiant</display-name>
    <servlet-name>projet_etudiant</servlet-name>
    <servlet-class>com.JAVA.Servlets.projet_etudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projet_etudiant</servlet-name>
    <url-pattern>/projet_etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allphases</display-name>
    <servlet-name>allphases</servlet-name>
    <servlet-class>com.JAVA.Servlets.allphases</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allphases</servlet-name>
    <url-pattern>/allphases</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Phase</display-name>
    <servlet-name>Phase</servlet-name>
    <servlet-class>com.JAVA.Beans.Phase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Phase</servlet-name>
    <url-pattern>/Phase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intitule_projet</display-name>
    <servlet-name>intitule_projet</servlet-name>
    <servlet-class>com.JAVA.Servlets.intitule_projet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intitule_projet</servlet-name>
    <url-pattern>/intitule_projet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addprojet</display-name>
    <servlet-name>addprojet</servlet-name>
    <servlet-class>com.JAVA.Servlets.addprojet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addprojet</servlet-name>
    <url-pattern>/addprojet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>phase_detail</display-name>
    <servlet-name>phase_detail</servlet-name>
    <servlet-class>com.JAVA.Servlets.phase_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phase_detail</servlet-name>
    <url-pattern>/phase_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_phase</display-name>
    <servlet-name>update_phase</servlet-name>
    <servlet-class>com.JAVA.Servlets.update_phase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_phase</servlet-name>
    <url-pattern>/update_phase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>download_phase</display-name>
    <servlet-name>download_phase</servlet-name>
    <servlet-class>com.JAVA.Servlets.download_phase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download_phase</servlet-name>
    <url-pattern>/download_phase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboard_prof</display-name>
    <servlet-name>dashboard_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.dashboard_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard_prof</servlet-name>
    <url-pattern>/dashboard_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profil_prof</display-name>
    <servlet-name>profil_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.profil_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profil_prof</servlet-name>
    <url-pattern>/profil_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_profil_prof</display-name>
    <servlet-name>update_profil_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.update_profil_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_profil_prof</servlet-name>
    <url-pattern>/update_profil_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>affectations_prof</display-name>
    <servlet-name>affectations_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.affectations_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>affectations_prof</servlet-name>
    <url-pattern>/affectations_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>affectations_annee</display-name>
    <servlet-name>affectations_annee</servlet-name>
    <servlet-class>com.JAVA.Servlets.affectations_annee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>affectations_annee</servlet-name>
    <url-pattern>/affectations_annee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allphases_prof</display-name>
    <servlet-name>allphases_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.allphases_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allphases_prof</servlet-name>
    <url-pattern>/allphases_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intitule_projet_prof</display-name>
    <servlet-name>intitule_projet_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.intitule_projet_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intitule_projet_prof</servlet-name>
    <url-pattern>/intitule_projet_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commentprojet</display-name>
    <servlet-name>commentprojet</servlet-name>
    <servlet-class>com.JAVA.Servlets.commentprojet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentprojet</servlet-name>
    <url-pattern>/commentprojet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>phase_detail_prof</display-name>
    <servlet-name>phase_detail_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.phase_detail_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phase_detail_prof</servlet-name>
    <url-pattern>/phase_detail_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_phase_prof</display-name>
    <servlet-name>update_phase_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.update_phase_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_phase_prof</servlet-name>
    <url-pattern>/update_phase_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>phase_form</display-name>
    <servlet-name>phase_form</servlet-name>
    <servlet-class>com.JAVA.Servlets.phase_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phase_form</servlet-name>
    <url-pattern>/phase_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPhase</display-name>
    <servlet-name>addPhase</servlet-name>
    <servlet-class>com.JAVA.Servlets.addPhase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPhase</servlet-name>
    <url-pattern>/addPhase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sent_mail_prof</display-name>
    <servlet-name>sent_mail_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.sent_mail_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sent_mail_prof</servlet-name>
    <url-pattern>/sent_mail_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sentMessage_details_prof</display-name>
    <servlet-name>sentMessage_details_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.sentMessage_details_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sentMessage_details_prof</servlet-name>
    <url-pattern>/sentMessage_details_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_message_prof</display-name>
    <servlet-name>delete_message_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.delete_message_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_message_prof</servlet-name>
    <url-pattern>/delete_message_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mail_prof</display-name>
    <servlet-name>mail_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.mail_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail_prof</servlet-name>
    <url-pattern>/mail_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>message_details_prof</display-name>
    <servlet-name>message_details_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.message_details_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>message_details_prof</servlet-name>
    <url-pattern>/message_details_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message_details_prof</display-name>
    <servlet-name>Message_details_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.Message_details_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message_details_prof</servlet-name>
    <url-pattern>/Message_details_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>compose_prof</display-name>
    <servlet-name>compose_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.compose_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compose_prof</servlet-name>
    <url-pattern>/compose_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>send_message_prof</display-name>
    <servlet-name>send_message_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.send_message_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send_message_prof</servlet-name>
    <url-pattern>/send_message_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendmessage_prof</display-name>
    <servlet-name>sendmessage_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.sendmessage_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendmessage_prof</servlet-name>
    <url-pattern>/sendmessage_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>compose_reply_prof</display-name>
    <servlet-name>compose_reply_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.compose_reply_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compose_reply_prof</servlet-name>
    <url-pattern>/compose_reply_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>send_reply_prof</display-name>
    <servlet-name>send_reply_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.send_reply_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>send_reply_prof</servlet-name>
    <url-pattern>/send_reply_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>annuler_event</display-name>
    <servlet-name>annuler_event</servlet-name>
    <servlet-class>com.JAVA.Servlets.annuler_event</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>annuler_event</servlet-name>
    <url-pattern>/annuler_event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home_etudiant</display-name>
    <servlet-name>home_etudiant</servlet-name>
    <servlet-class>com.JAVA.Servlets.home_etudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home_etudiant</servlet-name>
    <url-pattern>/home_etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home_prof</display-name>
    <servlet-name>home_prof</servlet-name>
    <servlet-class>com.JAVA.Servlets.home_prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home_prof</servlet-name>
    <url-pattern>/home_prof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home_admin</display-name>
    <servlet-name>home_admin</servlet-name>
    <servlet-class>com.JAVA.Servlets.home_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home_admin</servlet-name>
    <url-pattern>/home_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profil_admin</display-name>
    <servlet-name>profil_admin</servlet-name>
    <servlet-class>com.JAVA.Servlets.profil_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profil_admin</servlet-name>
    <url-pattern>/profil_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_profil_admin</display-name>
    <servlet-name>update_profil_admin</servlet-name>
    <servlet-class>com.JAVA.Servlets.update_profil_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_profil_admin</servlet-name>
    <url-pattern>/update_profil_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allProfs</display-name>
    <servlet-name>allProfs</servlet-name>
    <servlet-class>com.JAVA.Servlets.allProfs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allProfs</servlet-name>
    <url-pattern>/allProfs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addProf</display-name>
    <servlet-name>addProf</servlet-name>
    <servlet-class>com.JAVA.Servlets.addProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProf</servlet-name>
    <url-pattern>/addProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateprof</display-name>
    <servlet-name>updateprof</servlet-name>
    <servlet-class>com.JAVA.Servlets.updateprof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateprof</servlet-name>
    <url-pattern>/updateprof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProf</display-name>
    <servlet-name>deleteProf</servlet-name>
    <servlet-class>com.JAVA.Servlets.deleteProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProf</servlet-name>
    <url-pattern>/deleteProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allEtudiants</display-name>
    <servlet-name>allEtudiants</servlet-name>
    <servlet-class>com.JAVA.Servlets.allEtudiants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allEtudiants</servlet-name>
    <url-pattern>/allEtudiants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAOStudent</display-name>
    <servlet-name>DAOStudent</servlet-name>
    <servlet-class>com.JAVA.DAO.DAOStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAOStudent</servlet-name>
    <url-pattern>/DAOStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allEtudiant_promo</display-name>
    <servlet-name>allEtudiant_promo</servlet-name>
    <servlet-class>com.JAVA.Servlets.allEtudiant_promo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allEtudiant_promo</servlet-name>
    <url-pattern>/allEtudiant_promo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addEtudiant</display-name>
    <servlet-name>addEtudiant</servlet-name>
    <servlet-class>com.JAVA.Servlets.addEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEtudiant</servlet-name>
    <url-pattern>/addEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEtudiant</display-name>
    <servlet-name>updateEtudiant</servlet-name>
    <servlet-class>com.JAVA.Servlets.updateEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEtudiant</servlet-name>
    <url-pattern>/updateEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEtudiant</display-name>
    <servlet-name>deleteEtudiant</servlet-name>
    <servlet-class>com.JAVA.Servlets.deleteEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEtudiant</servlet-name>
    <url-pattern>/deleteEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allAffectations</display-name>
    <servlet-name>allAffectations</servlet-name>
    <servlet-class>com.JAVA.Servlets.allAffectations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allAffectations</servlet-name>
    <url-pattern>/allAffectations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allAffectations_annee</display-name>
    <servlet-name>allAffectations_annee</servlet-name>
    <servlet-class>com.JAVA.Servlets.allAffectations_annee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allAffectations_annee</servlet-name>
    <url-pattern>/allAffectations_annee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAOAffectationImplem</display-name>
    <servlet-name>DAOAffectationImplem</servlet-name>
    <servlet-class>com.JAVA.DAO.DAOAffectationImplem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAOAffectationImplem</servlet-name>
    <url-pattern>/DAOAffectationImplem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allAffectations_infos</display-name>
    <servlet-name>allAffectations_infos</servlet-name>
    <servlet-class>com.JAVA.Servlets.allAffectations_infos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allAffectations_infos</servlet-name>
    <url-pattern>/allAffectations_infos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAffectation</display-name>
    <servlet-name>addAffectation</servlet-name>
    <servlet-class>com.JAVA.Servlets.addAffectation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAffectation</servlet-name>
    <url-pattern>/addAffectation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAffectation</display-name>
    <servlet-name>deleteAffectation</servlet-name>
    <servlet-class>com.JAVA.Servlets.deleteAffectation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAffectation</servlet-name>
    <url-pattern>/deleteAffectation</url-pattern>
  </servlet-mapping>
</web-app>